@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0.25em;
    max-width: 95%;
    margin: auto;
    background-color: #f7f2f2;
    color: black;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    position: relative;
}

button {
    font-family: inherit;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav {
    text-decoration: none;
    padding: 10px;
    font-size: 0.70em;
    user-select: none;
    color: #000000;
    max-height: 1.25em;
    border-radius: 0.55em;
    transition: all .15s ease;
}

.nav:hover {
    background-color: #dbdbdb;
}

#signup {
    font-size: 0.75em;
    padding: 6px 12px;
    color: #ffffff;
    background-color: #1b4398;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

#signup:hover {
    background-color: #163a80;
}

#login {
    font-size: 0.75em;
    padding: 6px 12px;
    color: #000000;
    background: none;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

#login:hover {
    background-color: #dbdbdb;
}

#nav-home {
    margin-right: auto;
    padding-left: 0px;
    padding-bottom: auto;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#nav-home:hover {
    background: none;
}

/*Changes the signup button for registration page*/
button[type="submit"] {
    background-color: #183b88;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
}

input[type="password"] {
    width: 100%;
    padding: 8px;
}

.divider {
    height: 25px;
    width: 1px;
    background-color: #ccc;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#buttonDarkMode {
    border: 2px solid;
    border-color: #1b4398;

}

#toggleDarkMode {
    margin: auto;
    position: absolute;
    bottom: 1em;
    color: #2e2e2e;
}

#toggleDarkMode:hover {
    background-color: #767676;
    border-radius: 0.55em;
    transition: all .3s ease;
}

/* START OF TABLE FOMARTTING */
table {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.50em;
    width: 100%;
    margin: auto;
    margin-top: 1em;
    border-collapse: separate;
    border-spacing: 0;
}


td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.2em;
}

.id-col {
    width: 2em;
    text-align: center;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 1em auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    border-radius: 0.4em;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal input[type="text"],
.modal input[type="password"],
.modal input[type="email"] {
    width: 100%;
    padding: 6px 10px;
    font-size: 0.9rem;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.signupbtn,
.loginbtn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(39, 39, 39);
}


.nav-center {
    display: flex;
    justify-content: center;
}

#search-bar {
    padding: 4px 12px;
    width: 200px;
    font-size: 0.6em;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    transition: all 0.2s ease;
    margin-right: 2px;
}

#search-bar:focus {
    border-color: none;
    outline: none;
}

#search-bar::placeholder {
    color: #aaa;
}

.error {
    margin-bottom: 1em;
    margin-left: px;
    color: #ff0019;
    font-size: 12px;
    font-family: "Inter", "Roobert", "Helvetica", sans-serif;
}

#loginform label {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    display: block;
    margin-left: 2px;
}

#loginform h1 {
    font-size: 1em;
}

#signupform label {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    display: block;
    margin-left: 2px;
}

#signupform h1 {
    font-size: 1em;
}

#tos {
    font-size: 0.5em;
    color: #666;
    margin-top: 1em;
    text-align: left;
}

#tos a {
    color: #1b4398;
    text-decoration: underline;
}

#tos a:hover {
    color: #163a80;
    text-decoration: none;
}


.close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 28px;
    color: #4e4e4e;
    cursor: pointer;
}

.close:hover {
    color: black;
    text-decoration: none;
}

.logout-btn {
    font-size: 0.75em;
    padding: 6px 12px;
    color: #ffffff;
    background-color: #a31717;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    text-decoration: none;
}

.add-tool-btn {
    font-size: 0.5em;
    padding: 3px 7px;
    color: #ffffff;
    background-color: #1b4398;
    border: none;
    border-radius: 6px;
    text-decoration: none;
}


.remove-tool-btn {
    font-size: 0.5em;
    padding: 3px 7px;
    color: #ffffff;
    background-color: #a31717;
    border: none;
    border-radius: 6px;
    text-decoration: none;
}

.remove-tool-btn:hover {
    background-color: #7c1111;
}

#btd-btm {
    font-size: 0.5em;
    padding: 3px 7px;
    color: #ffffff;
    background-color: #1b4398;
    border: none;
    border-radius: 6px;
    text-decoration: none;
}

/*Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: inherit;

}

.dropbtn {
    font-size: 0.75em;
    padding: 6px 12px;
    color: #ffffff;
    background-color: #1b4398;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    font-family: inherit;
}

.dropdown-content {
    font-size: 16px;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.19);
    min-width: 160px;
    border-radius: 0px;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.buttonDarkMode {
    border: 2px solid;
    border-color: #ffffff;
}

#search-bar {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    transition: none !important;
}



#cost {
    background-color: #333;
    border-radius: 0.2em;
    color: white;
    border: none;
    outline: none;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: #ffffff;
    color: white;
}

#cost {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: black;
}

#cost:focus {
    outline: none;
    border: 1px solid #888; /* You can tweak this to match your design */
}

.dropdown,
.dropdown * {
    font-family: inherit;
}

#userpage-btn {
    display: inline-block;
    font-size: 0.85em;
    padding: 10px 16px;
    color: #ffffff;
    background-color: #1b4398;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    font-family: inherit;
}

#userpage-btn:hover {
    background-color: #163a80;
}

.dropbtn {
    font-size: 0.75em;
    padding: 6px 12px;
    color: #ffffff;
    background-color: #1b4398;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    font-family: inherit;
}

/* Dark mode body */
.dark-mode {
    background-color: #333333;
    color: white;
}

/* Modal styling in dark mode */
.dark-mode .modal-content {
    background-color: #333333;
    color: #d4d4d4;
}

/* Dark mode login text box */
.dark-mode input[type="text"],
.dark-mode input[type="password"] {
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
}

/* Nav links in dark mode */
.dark-mode .nav {
    color: rgb(212, 212, 212);
}

/* Sign up button in dark mode */
.dark-mode .logout-btn {
    color: #d4d4d4;
    background-color: transparent;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #d4d4d4;
}

.dark-mode #signup:hover {
    color: #ffffff;
    background-color: #555555;
    transition: all 0.1s ease;
}

/* Login button in dark mode */
.dark-mode #login {
    color: #d4d4d4;
    background: none;
    transition: all 0.1s ease;
}

.dark-mode #login:hover {
    color: #ffffff;
    background-color: #555555;
}

/* Nav hover in dark mode */
.dark-mode .nav:hover {
    background-color: #555555;
    border-radius: 0.5em;
}

/* Popout button in dark mode */
.dark-mode #popout-button {
    background: #444;
    color: #fff;
}

/* Popout form in dark mode */
.dark-mode .popout-form {
    background: #333;
    color: #fff;
}

/* Popout form input fields in dark mode */
.dark-mode .popout-form input {
    background: #555;
    color: #fff;
    border-color: #666;
}

/* Toggle dark mode button in dark mode */
.dark-mode #toggleDarkMode {
    margin: auto;
    position: absolute;
    bottom: 1em;
    color: #dcdcdc;
}

.dark-mode #toggleDarkMode:hover {
    background-color: #767676;
    border-radius: 0.55em;
    transition: all 0.3s ease;
}


.dark-mode .remove-tool-btn,
.dark-mode .add-tool-btn {
    background-color: transparent;
    border: 1px solid rgb(199, 199, 199);
}

.dark-mode .remove-tool-btn:hover,
.dark-mode .add-tool-btn:hover {
    background-color: rgba(255, 255, 255, 0.192);
    border: 1px solid rgb(199, 199, 199);
}

.dark-mode .dropbtn {
    background-color: transparent;
    border: 1px solid rgb(199, 199, 199);
    font-family: inherit;
}


.dark-mode .dropdown-content {
    background-color: #444;
    color: #fff;
}

.dark-mode .dropdown-content a {
    color: #d4d4d4;
}

.dark-mode .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.192);
    border: 1px solid rgb(199, 199, 199);
}

.dark-mode #search-bar {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

/* Dark mode version */
.dark-mode #cost {
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
}

.dark-mode #cost:focus {
    outline: none;
    border: 1px solid #aaa;
}

.dark-mode #userpage-btn {
    background-color: transparent;
    border: 1px solid rgb(199, 199, 199);
}

.dark-mode #userpage-btn:hover {
    background-color: rgba(255, 255, 255, 0.192);
    border: 1px solid rgb(199, 199, 199);
}

.dark-mode .dropbtn {
    background-color: transparent;
    border: 1px solid rgb(199, 199, 199);
}
#buttonDarkMode {
    background: none;
    border: none;
    color: inherit;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
}

#buttonDarkMode:hover {
    background-color: #f1f1f1;
}

/* Dark mode styles */
.dark-mode #buttonDarkMode {
    background: none;
    color: #d4d4d4;
}

.dark-mode #buttonDarkMode:hover {
    background-color: rgba(255, 255, 255, 0.192);
}


#forntpagemessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}