body {
    padding: 10px;
    max-width: 95%;
    margin: auto;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    transition: all .1s ease;
}

.dark-mode {
    background-color: rgb(51, 51, 51);
    color: white;
    transition: all .2s ease;
    
    .nav {
        color: white;
    }
    #nav-signup {
        color: rgb(255, 255, 255);
        background-color: #b17f5900;
        outline-style: solid;
        outline-width: 1px;
        transition: all .1s ease;
    }

    #nav-signup:hover {
        color: rgb(255, 255, 255);
        background-color: #555555;
    }

    .nav:hover {
        background-color: #555555;
        border-radius: 0.5em;
    }
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav {
    text-decoration: none;
    padding: 10px;
    font-size: 0.70em;
    user-select: none;
    color: black;
    max-height: 1.25em;
    border-radius: 0.75em;
    transition: all .1s ease;
}

.nav:hover {
    background-color: #ededed;
}

#nav-signup {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 0.70em;
    user-select: none;
    color: rgb(255, 255, 255);
    background-color: #1b4398;
    border-radius: 0.75em;
    margin-left: 10px;
    max-height: 1.25em;
    transition: all .2s ease;
}

#nav-signup:hover {
    background-color: #183b88;
}

#nav-home {
    margin-right: auto;
    padding-bottom: auto;
    font-size: 1em
}

#nav-home:hover {
    background:none;
}

.divider {
    height: 25px;
    width: 1px;
    background-color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

#toggleDarkMode {
    position: fixed;
}